<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row jumbotron" style="margin: 1px; padding:1px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <h3>WELCOME TO LEAVE APPLICATION...</h3>
        </div>
    </div><br />


    <div class="row" style="margin-top: 5px">
        <!--div class="col-sm-4">
            General Business Activities Johnson Corporation has been established as a real estate company in North and
            South America. Our traditional business model is based on the accomplishment of properties in the real estate
            markets in America. Based on the decision of the company to diversify our properties; we have now established
            this corporation in Toronto. The revenues of our company are expected to be nearly US$50,000 per month depending
            on the variables that are factored in with investments in the real estate industry. There is a great need for
            certified or official bank checks in the future to deal with some real estate transactions. In addition to real
            estate investments, the company has invested portions of its assets in the purchase and sale of securities such as
            stocks and bonds as well as Forex trading on global markets.
        </div-->
<div class="col-sm-1"></div>
    <div class="col-sm-5" style="text-align: justify">
        <h3>Company Strategy</h3>
        <h4>Purpose</h4>To be a leader in the real estate industry by providing enhanced services, relationship and profitability.
        <h4>Vision</h4>To provide quality services that exceeds the expectations of our esteemed customers.
        <h4> Mission statement</h4>To build long term relationships with our customers and clients and provide exceptional customer services by pursuing business through innovation and advanced technology.
        <h4>Core values</h4> We believe in treating our customers with respect and faith• We grow through creativity, invention and innovation.• We integrate honesty, integrity and business ethics into all aspects of our business functioning
        <h4>Goals</h4>Regional expansion in the field of property management and develop a strong base of key customers.• Increase the assets and investments of the company to support the development of services.• To build good reputation in the field of real estate and property management and become a key player in the industry.
    </div>

        <div class="col-sm-5"  style="text-align: justify">
            <h3>Company Strategy</h3>
            <h4>Purpose</h4>To be a leader in the real estate industry by providing enhanced services, relationship and profitability.
            <h4>Vision</h4>To provide quality services that exceeds the expectations of our esteemed customers.
            <h4> Mission statement</h4>To build long term relationships with our customers and clients and provide exceptional customer services by pursuing business through innovation and advanced technology.
            <h4>Core values</h4> We believe in treating our customers with respect and faith• We grow through creativity, invention and innovation.• We integrate honesty, integrity and business ethics into all aspects of our business functioning
            <h4>Goals</h4>Regional expansion in the field of property management and develop a strong base of key customers.• Increase the assets and investments of the company to support the development of services.• To build good reputation in the field of real estate and property management and become a key player in the industry.
        </div>
        <div class="col-sm-1"></div>
    </div>

</div>
</body>
</html>