<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row jumbotron" style="margin: 0px; padding:0px;">

            <div class="col-sm-12">
                <h3>WELCOME TO LEAVE APPLICATION...</h3>
            </div>
        </div><br />
        <!--div class="container-fluid" style="margin-top: 5px;">
            <div class="row jumbotron" style="margin: 0px; padding: 0px;">
                <div class="col-sm-12" style="text-align: justify">
                    <img src="Design/images1/pic.jpg" class="img responsive img-thumbnail" style="width: 130px; float: left">
                   <p><h3>Founder Message</h3>General Business Activities Johnson Corporation has been established as a real estate company in North and
                    South America. Our traditional business model is based on the accomplishment of properties in the real estate
                    markets in America. Based on the decision of the company to diversify our properties; we have now established
                    this corporation in Toronto. The revenues of our company are expected to be nearly US$50,000 per month
                   </p>
                </div>
            </div>
            </div>
        </div>-->

        <div class="container" style="margin-top: 25px;">
            <div class="row" style="margin: 0px; padding: 0px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-5" class="jumbotron" style="text-align: justify">
                    <img src="Design/images1/fon3.jpg" class="img responsive img-thumbnail" style="width: 130px; height:150px; float: left">

                    <h2>Address</h2>
                    <p style="text-align: justify">
                        Computer Science Engineering<br />
                        Chandigarh University<br />
                        Gharuan Mohali<br/>
                        pin code-140413.
                    </p>
                </div>
                <div class="col-sm-5" style="text-align: justify">
                    <img src="Design/images1/fon6.jpg" class="img responsive img-thumbnail" style="width: 130px; height: 150px; float: left">
                    <h2>Address</h2>
                    <p style="text-align: justify">
                        Computer Science Engineering<br />
                        Chandigarh University<br />
                        Gharuan Mohali<br/>
                        pin code-140413.
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 25px;">
        <div class="row" style="margin: 0px; padding: 0px;">
            <div class="col-sm-1"></div>
            <div class="col-sm-5" class="jumbotron" style="text-align: justify">
                <img src="Design/images1/fon3.jpg" class="img responsive img-thumbnail" style="width: 130px; height:150px; float: left">

                <h2>Address</h2>
                <p style="text-align: justify">
                    Computer Science Engineering<br />
                    Chandigarh University<br />
                    Gharuan Mohali<br/>
                    pin code-140413.
                </p>
            </div>
            <div class="col-sm-5" style="text-align: justify">
                <img src="Design/images1/fon3.jpg" class="img responsive img-thumbnail" style="width: 130px; height: 150px; float: left">
                <h2>Address</h2>
                <p style="text-align: justify">
                    Computer Science Engineering<br />
                    Chandigarh University<br />
                    Gharuan Mohali<br/>
                    pin code-140413.
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    </div>

    <div class="container" class="jumbotron" style="margin-top: 25px">
    <div class="row">
        <div class="col-sm-4">
            <h2>Address</h2>
            <p style="text-align: justify">
                Computer Science Engineering<br />
                Chandigarh University<br />
                Gharuan Mohali<br/>
                pin code-140413.
            </p>
        </div>
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item"><a href="www.facebook.com">Facebook</a></li>
                <li class="list-group-item"><a href="#">Twitter</a></li>
                <li class="list-group-item"><a href="www.youtube.com">Youtube</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img src="Design/images1/3.jpg" class="glyphicon glyphicon-ban-circle img-circle" width="250px" style="margin: 0px"><br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-primary">Sucscribe Us on FaceBook</a>
        </div>
    </div>
</div>
</body>
</html>