<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="float: left;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="btn-group-vertical" role="group" aria-label="...">
    <ul class="navbar nav nav-pills nav-stacked">
        <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Leave</a>
            <ul class="dropdown-menu">
                <li><a href="#">Raise Leave</a></li>
                <li><a href="#">Raise Leave</a></li>
            </ul>
        </li><br />
        <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Attendance<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li role="presentation" class="active"><a href="#">Punch Attendance</a></li>
            <li role="presentation" class="active"><a href="#">View Attendance</a></li>
            <li role="presentation" class="active"><a href="#">Holiday</a></li>
        </ul>
        </li><br />
        <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Utility<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li role="presentation" class="active"><a href="#">Leave Summary</a></li>
                <li role="presentation" class="active"><a href="#">Attendance Summary</a></li>
            </ul>
        </li><br />
        <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Notification<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li role="presentation" class="active"><a href="#">Leave Action Notification</a></li>
                <li role="presentation" class="active"><a href="#">Missed Attendance Notification</a></li>
            </ul>
        </li><br />
        <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Employee<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li role="presentation" class="active"><a href="#">My Team</a></li>
                <li role="presentation" class="active"><a href="#">My Profile</a></li>
                <li role="presentation" class="active"><a href="#">Employee Profile</a></li>
            </ul>
        </li><br />
    </ul>
</div>
<div>
    <label>Name</label>
    <input type="text">

</div>
</div>
</body>
</html>