<div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="btn-group-vertical" role="group" aria-label="..." style="border: 0px solid white; width: 200px;">
    <ul class="navbar nav nav-pills nav-stacked">
        <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Leave
        <span class="caret"></span>
        </a>
            <ul class="dropdown-menu">
                <li><a href="#/leaveRaise">Raise Leave</a></li>
                <li><a href="#/requestLeave">Request Leave</a></li>
            </ul>
        </li><br />
        <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Attendance<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li role="presentation"><a href="#/punchAttendance">Punch Attendance</a></li>
            <li role="presentation"><a href="#/viewAttendance">View Attendance</a></li>
            <li role="presentation"><a href="#/holiday">Holiday</a></li>
        </ul>
        </li><br />
        <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Utility<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="#/leaveSummary">Leave Summary</a></li>
                <li role="presentation"><a href="#/attendanceSummary">Attendance Summary</a></li>
            </ul>
        </li><br />
        <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Notification<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="#/leaveActionNotification">Leave Action Notification</a></li>
                <li role="presentation"><a href="#/missedAttendanceNotification">Missed Attendance Notification</a></li>
            </ul>
        </li><br />
        <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Employee<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="#/myTeam">My Team</a></li>
                <li role="presentation"><a href="#/myProfile">My Profile</a></li>
                <li role="presentation"><a href="#/employeeProfile">Employee Profile</a></li>
            </ul>
        </li><br />
    </ul>
</div>
    <!--div ng-controller = "StudentController" style="float: right;">
       <basic-information name="Rahul"></basic-information>
    </div>-->
</div>